.t-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.t-foot {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: center;
}
