<section id="dashboard-section" class="content-section active">
  <ng-container *ngFor="let stat of stats">
    <div class="stats-grid">
      <div class="stat-card">
        <div class="stat-icon blue">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <rect
              x="3"
              y="4"
              width="18"
              height="18"
              rx="2"
              ry="2"
              stroke-width="2"
            />
            <line
              x1="16"
              y1="2"
              x2="16"
              y2="6"
              stroke-width="2"
              stroke-linecap="round"
            />
            <line
              x1="8"
              y1="2"
              x2="8"
              y2="6"
              stroke-width="2"
              stroke-linecap="round"
            />
            <line x1="3" y1="10" x2="21" y2="10" stroke-width="2" />
          </svg>
        </div>
        <div class="stat-content">
          <h3>{{ stat.appointment_today }}</h3>
          <p>Citas Hoy</p>
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-icon green">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path
              d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <circle
              cx="9"
              cy="7"
              r="4"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M23 21v-2a4 4 0 0 0-3-3.87"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M16 3.13a4 4 0 0 1 0 7.75"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="stat-content">
          <h3>{{ stat.user_registered }}</h3>
          <p>Pacientes Registrados</p>
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-icon orange">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
              stroke-width="2"
            />
            <polyline points="3.27 6.96 12 12.01 20.73 6.96" stroke-width="2" />
            <line x1="12" y1="22.08" x2="12" y2="12" stroke-width="2" />
          </svg>
        </div>
        <div class="stat-content">
          <h3>{{ stat.products_no_stock }}</h3>
          <p>Productos Bajo Stock</p>
        </div>
      </div>

      <div class="stat-card">
        <div class="stat-icon teal">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <line
              x1="12"
              y1="1"
              x2="12"
              y2="23"
              stroke-width="2"
              stroke-linecap="round"
            />
            <path
              d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="stat-content">
          <h3>$ {{ stat.billing }}</h3>
          <p>Ingresos del Mes</p>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="dashboard-content">
    <div class="card">
      <h3 class="card-title">Próximas Citas</h3>
      <div *ngIf="incommingAppointments.length <= 0">
        <p>No ha citas agendads para el día de hoy</p>
      </div>

      <ng-container *ngIf="incommingAppointments.length > 0">
        <div class="appointments-list">
          <ng-container *ngFor="let appointment of incommingAppointments">
            <div class="appointment-item">
              <div class="appointment-time">
                <span class="time"> {{ appointment.hora }} </span>
                <span class="date">Hoy</span>
              </div>
              <div class="appointment-details">
                <h4>{{ appointment.mascota }} - {{ appointment.raza }}</h4>
                <p>{{ appointment.motivo }} - {{ appointment.cliente }}</p>
              </div>
              <span class="badge badge-blue">{{ appointment.status }} </span>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="card">
      <h3 class="card-title">Productos con Bajo Stock</h3>
      <div *ngIf="products.length <= 0" class="products-list">
        <p>No hay productos con bajo stock</p>
      </div>
      <div *ngIf="products.length > 0" class="products-list">
        <ng-container *ngFor="let product of products">
          <div
            [class.warning]="product.estado === 'bajo_stock'"
            class="product-item"
          >
            <div class="product-info">
              <h4>{{ product.nombre }}</h4>
              <p>SKU: VAC-001</p>
            </div>
            <div class="product-stock">
              <span class="stock-qty"> {{ product.unidades }} unidades</span>
              <span class="expiry-date">Vence: 30/11/2025</span>
            </div>
          </div>
          <!--
          <div class="product-item warning">
            <div class="product-info">
              <h4>Desparasitante Canino</h4>
              <p>SKU: MED-045</p>
            </div>
            <div class="product-stock">
              <span class="stock-qty">8 unidades</span>
              <span class="expiry-date">Vence: 15/11/2025</span>
            </div>
          </div> -->
        </ng-container>
      </div>
    </div>
  </div>
</section>
